<html>
  <head>
    <meta charset="UTF-8">
    <title>Vinyl Hunter</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% ('A'..'Z').to_a.each do |l| %>
          <a href="#"
             data-hx-post="/filter-by-letter/<%= l %>"
             hx-swap="outerHTML"
             hx-target="#results"><%= l %>
          </a> |
        <% end %>
      </div>
    </div>
    <%= erb :results, :locals => { streams: streams } %>
  </body>
</html>