<html>
  <head>
    <meta charset="UTF-8">
    <title>Vinyl Hunter</title>
    <link rel="stylesheet" href="css/picnic.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  </head>
  <body>
    <div class="full center">
      <a href="#"
         hx-trigger="click"
         data-hx-post="/filter-by-letter/All"
         hx-swap="outerHTML"
         hx-target="#results">All |
      </a>
      <% ('A'..'Z').to_a.each do |l| %>
        <a href="#"
           hx-trigger="click"
           data-hx-post="/filter-by-letter/<%= l %>"
           hx-swap="outerHTML"
           hx-target="#results"><%= l %>
        </a>
        <% unless l == 'Z' %>
          |
        <% end %>
      <% end %>
    </div>
    <%= erb :results, :locals => { streams: streams } %>
  </body>
</html>